#option-tabs .container {
  width:97%;
}

:local(.tabContent) {
  padding-top:15px;
}
:local(#tempDetails) {
  font-size: 16px;
}

:local(.valueLabel) {
  font-size: 11px;
  margin-left: 3px;
}

:local(.detailTitle) {
  color:rgb(206, 206, 206);
  font-weight: bold

}

:local(.errorDetailValue) {
  color:rgb(255, 113, 113)
}

:local(.warningDetailValue) {
  color:rgb(254, 192, 77)
}

:local(.successDetailValue) {
  color:rgb(0, 123, 255)
}

:local(.detailValue) {
  font-weight: bold;
  font-size: 24px;
}

:local(.tooltipLabelProgressBar) {
  margin-top:5px;
}

:local(.tooltipButton img) {
    width: 15px;
    height: 15px;
    margin-bottom: 6px;
}
:local(.tooltipButton) {
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 0px;
  margin-left: 2px;
  color: #b3102f;
  background: none;
  border: none;
  text-shadow: none !important;
  box-shadow: none;
}

.tooltip-label-icon {
  font-size:25px;
  margin-right: 10px;
}

#sleep-stages-details .tooltip-label-icon {
  font-size:17px;
}

.tooltip-label-icon {
  font-size:25px;
  margin-right: 5px;
}

.panel-heading {
  padding: 10px 0px;
}

#sleep-tabs.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
   zoom:1; /* hasLayout ie7 trigger */
}

#sleep-tabs .nav-tabs, .nav-pills {
  text-align:center;
}

#sleep-tabs .nav-pills>li.active>a {
  color: #5c5c5c;
  font-weight: bold;
  background:none;
  border-bottom: 4px solid #5785f6;
  border-radius: 0px;
}

#sleep-tabs .nav li a {
  padding: 2px 4px;
  margin: 10px 6px;
  color: #7d7d7d;
}