#option-tabs .container {
  width:97%;
}

:local(#tempDetails) {
  font-size: 16px;
}

:local(.tooltipLabelProgressBar) {
  margin-top:5px;
}

:local(.tooltipButton) {
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 0px;
  margin-left: 2px;
  color: #b3102f;
}

.tooltip-label-icon {
  font-size:25px;
  margin-right: 10px;
}

#sleep-stages-details .tooltip-label-icon {
  font-size:17px;
}

.tooltip-label-icon {
  font-size:25px;
  margin-right: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
